<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>HoneywellCondWeb-Bold.ttf</string>
		<string>HoneywellCondWeb-BoldItalic.ttf</string>
		<string>HoneywellCondWeb-Book.ttf</string>
		<string>HoneywellCondWeb-BookItalic.ttf</string>
		<string>HoneywellCondWeb-ExtraBold.ttf</string>
		<string>HoneywellCondWeb-ExtraBoldItalic.ttf</string>
		<string>HoneywellCondWeb-Light.ttf</string>
		<string>HoneywellCondWeb-LightItalic.ttf</string>
		<string>HoneywellCondWeb-Medium.ttf</string>
		<string>HoneywellCondWeb-MediumItalic.ttf</string>
		<string>HoneywellSansWeb-Black.ttf</string>
		<string>HoneywellSansWeb-BlackItalic.ttf</string>
		<string>HoneywellSansWeb-Book.ttf</string>
		<string>HoneywellSansWeb-BookItalic.ttf</string>
		<string>HoneywellSansWeb-ExtraBold.ttf</string>
		<string>HoneywellSansWeb-ExtraBoldItalic.ttf</string>
		<string>HoneywellSansWeb-Light.ttf</string>
		<string>HoneywellSansWeb-LightItalic.ttf</string>
		<string>HoneywellSansWeb-Medium.ttf</string>
		<string>HoneywellSansWeb-MediumItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
